*{
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(4, 32, 32);
    color: #ddd;
  }
  
  main{
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1{
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 2.5rem;
  }
  
  h1 span{
    font-size: 1rem;
  }
  
  form{
    margin-top: 1px;
  }
  
  form input{
    width: 100%;
    background-color: transparent;
    color: #ddd;
    border: 2px solid grey;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  form div.basicInfo{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  form input[type='datetime-local']{
    color: #777;
  }
  
  form button {
    width: 100%;
    height: 30px;
    margin: 15px 5px 0px 0px;
    border-radius: 15px;
    font-size: 20px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff; */
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 100%;
   }
  
  div.transactions{
    margin-top: 15px;
  }
  
  div.transaction{
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-top: 1px solid #30313d;
  }
  
  div.transaction:first-child{
    border: 0;
  }
  
  div.transaction div.name{
    font-size: 1.2rem;
  }
  
  div.transaction div.description{
    font-size: .8rem;
    color: #888;
  }
  
  div.right{
    text-align: right;
  }
  
  div.price.green{
    color: #1c1;
  }
  
  div.price.red{
    color: #c11;
  }
  
  div.transaction div.datetime{
    font-size: .8rem;
    color: #888;
  }